html {
  overflow-x: hidden;
}

.container {
  padding-left: $base-spacing;
  padding-right: $base-spacing;
  @include grid-media($medium-screen) {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &:after {
      display: none;
    }
  }
}

#site-content {
  section {
    padding-top: $base-spacing*4;
    padding-bottom: $base-spacing*4;
    .section-title {
      font-size: modular-scale(2);
      text-transform: uppercase;
      margin-bottom: $base-spacing;
    }
  }
  #hero {
    background-color: $dark-gray;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: $base-spacing*6;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      z-index: 50;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0,0,0,0.75);
    }
    .container {
      position: relative;
      z-index: 100;
      .section-content {
        color: white;
        .action {
          .button {
            margin-bottom: $base-spacing;
          }
        }
      }
    }
    @include grid-media($medium-screen) {
      padding-top: $base-spacing*4;
      &:before {
        display: none;
      }
      .container {
        display: flex;
        min-height: 60vh;
        justify-content: center;
        align-items: center;
      }
      .section-content {
        flex-basis: 60%;
        text-align: center;
        color: $light-gray;
        background-color: rgba(0, 0, 0, 0.75);
        border: $base-border;
        padding: $base-spacing $base-spacing 0;
        position: relative;
        .action {
          .button {
            margin-bottom: $base-spacing;
          }
        }
        .section-title {
          margin-bottom: 0;
        }
        .action {
          display: inline-block;
          transform: translateY(30px);
          .button {
            margin-bottom: 0;
          }
        }
      }
    }
    .section-title {
      font-weight: 300;
      font-size: modular-scale(0);
      span {
        display: block;
        font-size: modular-scale(3);
        font-weight: 700;
      }
    }
  }
  #verbiage {
    background-color: tint($light-gray, 50);
    .container {
      justify-content: center;
    }
    .section-content {
      text-align: center;
      @include grid-media($medium-screen) {
        flex-basis: 50%;
      }
    }
  }
  #expressfit {
    .section-title {
      font-size: modular-scale(3);
      margin-bottom: $base-spacing;
      span {
        color: $action-color;
      }
      small {
        font-size: modular-scale(-2);
        font-weight: 300;
      }
    }
    @include grid-media($medium-screen) {
      .container {
        align-items: center;
      }
      .section-content, .section-inlay {
        flex-basis: 50%;
        padding-right: $base-spacing*2;
        padding-left: $base-spacing*2;
      }
    }
  }
  #ordering {
    background-color: $dark-gray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    .section-content {
      flex-basis: 100%;
    }
    .section-title {
      color: $light-gray;
      text-align: center;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      >li {
        position: relative;
        color: $light-gray; //max-width: 20%;
        text-align: center;
        padding: $base-spacing;
        font-size: modular-scale(-1);
        span {
          color: $action-color;
        }
        &:after {
          font-family: 'FontAwesome';
          content: '\f078';
          position: absolute;
          left: 45%;
          bottom: -25px;
          font-size: modular-scale(2);
        }
        &:last-child {
          &:after {
            content: '';
          }
        }
      }
      @include grid-media($medium-screen) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        >li {
          flex-basis: 33.33%;
          position: relative;
          &:after {
            font-family: 'FontAwesome';
            content: '\f054';
            position: absolute;
            top: 33.33%;
            right: -5px;
            left: auto;
            font-size: modular-scale(2);
          }
          &:last-child {
            &:after {
              content: '';
            }
          }
        }
      }
      @include grid-media($large-screen) {
        display: flex;
        >li {
          flex-basis: 20%;
          &:after {
            font-family: 'FontAwesome';
            content: '\f054';
            position: absolute;
            top: 33.33%;
            right: -5px;
            left: auto;
            bottom: auto;
            font-size: modular-scale(2);
          }
          &:last-child {
            &:after {
              content: '';
            }
          }
        }
      }
    }
  }
  #innovate {
    .section-content {
      flex-basis: 100%;
    }
    .section-title {
      text-align: center;
      margin-bottom: $base-spacing*3;
    }
    .loop {
      .entry {
        margin-bottom: $base-spacing;
      //  padding: $base-spacing;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        height: 300px;
        background-color: $light-gray;
        &.full {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $light-gray;
          position: relative;
          h3 {
            text-transform: uppercase;
            margin-bottom: $base-spacing;
            font-weight: 300;
            letter-spacing: 2px;
          }
          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
              display: flex;
              align-items: center;
              text-transform: uppercase;
              font-weight: 700;
              letter-spacing: 2px;
              img {
                margin-right: 15px;
              }
            }
          }
          .content {
            position: relative;
            z-index: 1050;
            width: 75%;
          }
          &:after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: '';
            background-color: rgba(0, 0, 0, 0.65);
          }
        }
      }
      @include grid-media($medium-screen) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        height: 800px;
        .entry {
          flex-basis: 22%;
          width: 48%;
          margin-bottom: 0;
          &.full {
            flex-basis: 48%;
          }
        }
      }
    }
  }
  #video {
    text-align: center;
    background-color: $light-gray;
  }
  #action {
    background-color: $dark-gray;
    .container {
      justify-content: space-around;
    }
    .card {
      flex-basis: 35%;
      //border: $base-border;
      @include padding($base-spacing);
      background-color: rgba(255,255,255, 0.1);
      margin-bottom: $base-spacing;
      .card-title {
        color: $light-gray;
        text-align: center;
        min-height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .button {
        font-size: 14px;
        @include padding($base-spacing);
        display: block;
        text-align: center;;
        &:after {
          content: '';
          margin: 0;
        }
      }
    }
    // .section-content {
    //   flex-basis: 60%;
    //   text-align: center;
    //   color: $light-gray;
    //   p {
    //     font-size: modular-scale(1);
    //     line-height: 1.4;
    //   }
    //   small {
    //     font-size: modular-scale(-2);
    //     color: $medium-gray;
    //     text-transform: uppercase;
    //   }
    // }
  }
  #get-started {
    border-top: 5px solid $action-color;
    position: relative;
    .pre {
      text-align: center;
      position: absolute;
      z-index: 2000;
      top: -5px;
      left: 0;
      right: 0;
      span {
        display: inline-block;
        background-color: $dark-gray;
        color: $light-gray;
        padding: 0 2em 0.75em;
        border-bottom-right-radius: 60px;
        border-bottom-left-radius: 60px;
        text-transform: uppercase;
        line-height: 1;
        font-weight: 700;
      }
    }
    .container {
      justify-content: center;
    }
    .section-content {
      text-align: center;
      flex-basis: 60%;
    }
    .button {
      margin-bottom: $base-spacing;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      @include grid-media($medium-screen) {
        >li {
          display: inline-block;
          padding-left: $base-spacing;
          padding-right: $base-spacing;
        }
      }
      >li {
        a {
          text-decoration: none;
          color: $dark-gray;
        }
        &:before {
          font-family: 'FontAwesome';
          content: '\f054';
          color: $action-color;
          margin-right: $small-spacing/2;
        }
      }
    }
  }
}
