// #site-footer {
// 	background-color: $dark-gray;
// 	padding-top: $small-spacing;
// 	padding-bottom: $small-spacing;
// 	img {
// 		max-height: $base-spacing;
// 	}
// 	.colophon {
// 		color: $medium-gray;
// 		font-size: modular-scale(-1);
// 	}
// }

#site-footer {
	.author {
		padding-top: $base-spacing;
		padding-bottom: $base-spacing;
		background-color: $dark-gray;

		.container	{
			text-align: center;
			@include grid-media($large-screen){
				display: flex;
				justify-content: space-between;
				align-items: center;
				&:after {
					display: none;
				}
			}
		}

		a {
			display: block;
			text-decoration: none;
			text-transform: uppercase;
			color: $light-gray;
			font-weight: 800;
			line-height: 1.6;
		}
	}
	.copyright {
		padding-top: $base-spacing;
		padding-bottom: $base-spacing;
		text-align: center;
		text-transform: uppercase;
			color: $medium-gray;
	}
}
