body.thank-you {
  #thank-you-banner{
    background-color: $dark-gray;
    text-align: center;
    padding: 0;
    .container {
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }
    h1,p {
      color: white;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}
