html {
    overflow-x: hidden;
}

// body.landscape-mode {
// 	position: relative;
// 	overflow: hidden;
// 	&:after {
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;
// 		content: 'This page is best viewed in portrait mode';
// 		position: absolute;
// 		top: 0;
// 		right: 0;
// 		bottom: 0;
// 		left: 0;
// 		z-index: 1982;
// 		background-color: rgba(0,0,0,0.85);
// 		color: white;
// 	}
// }


#site-content {
    .fa-li {
        color: $action-color;
    }
    .two-column {
        padding-top: $base-spacing*2;
        padding-bottom: $base-spacing*2;
        @include clearfix();
        h3 {
            text-transform: uppercase;
            margin-bottom: $base-spacing;
            font-size: 32px;
            line-height: 1.4;
        }
        .entry-image, .entry-content {
            @include grid-column(12);
            margin-bottom: $base-spacing*2;
            @include grid-media($medium-screen) {
                @include grid-column(6);
                @include nth-omega(2n);
            }
        }
        @include grid-media($large-screen) {
            .row {
                display: flex;
                align-items: center;
            }
            .entry-content {
                //padding-left: $base-spacing*3;
                //padding-right: $base-spacing*3;
            }
        }
        &.shift {
            @include grid-media($medium-screen) {
                .entry-image {
                    @include grid-shift(6);
                }
                .entry-content {
                    @include grid-shift(-6);
                }
            }
        }
    }
    // .entry {
    //     position: relative;
    //     &.image-left-edge {
    //         @include grid-media($large-screen) {
    //             min-height: 500px;
    //             img {
    //                 position: absolute;
    //                 left: 0;
    //                 top: 0;
    //                 width: 50%;
    //                 max-width: 700px;
    //             }
    //         }
    //     }
    // }
    #hero {
        padding-top: $base-spacing*6;
        padding-bottom: $base-spacing*4;
        margin-bottom: $base-spacing*5;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        .action-wrap {
            position: absolute;
            top: auto;
            left: 0;
            bottom: -30px;
            right: 0;
            text-align: center;
            .button {
                text-transform: uppercase;
                padding: $base-spacing $base-spacing*2;
                letter-spacing: 1px;
                line-height: 1;
                .fa {
                  font-size: 1.4rem;
                  margin-left: 0.75rem;
                }
                &:hover {
                  color: #ffffff;
                }
            }
        }
        .content {
            background-color: rgba(0, 0, 0, 0.5);
            border: $base-border;
            max-width: 480px;
            margin: 0 auto;
            position: relative;
            padding: $base-spacing;
            p {
                text-align: center;
                color: white;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            .image-wrap {
                text-align: center;
                margin-bottom: $base-spacing;
                .wistia_embed {
                    margin: 0 auto;
                    min-height: 150px;
                    max-width: 360px;
                }
            }
        }
        @include grid-media($large-screen) {
        	padding-top: $base-spacing*10;
            position: relative;
            .content {
            	max-width: 960px;
                padding-top: $base-spacing*12;
                padding-bottom: $base-spacing*2;
                .image-wrap {
                    position: absolute;
                    top: -$base-spacing*5;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    .wistia_embed {
                        max-width: 650px;
                        min-height: 370px;
                    }
                }
            }
            p {
                font-size: modular-scale(2);
            }
        }
    }
    #keeping-innovative {
        padding-top: $base-spacing*2;
        position: relative;
        padding-bottom: $base-spacing*2;
        @include grid-media($large-screen) {
            padding-bottom: 250px;
            margin-bottom: 300px;
            &:after {
                position: absolute;
                z-index: -1;
                content: '';
                width: 0;
                height: 0;
                border-bottom: 1450px solid #F9F9F9;
                border-right: 1450px solid transparent;
                bottom: 0;
                left: 0;
            }
        }
    }
    #why-matrix-thinking {
        h3 {
            text-align: center;
        }
        h3 {
            text-transform: uppercase;
            margin-bottom: $base-spacing;
            font-size: 32px;
        }
        @include grid-media($medium-screen) {
            .card-wrap {
                display: flex;
                justify-content: center;
                .card {
                    flex-basis: 30%;
                }
            }
        }

        @include grid-media($large-screen) {
            position: absolute;
            bottom: -250px;
            left: 0;
            right: 0;
            .card-wrap {
                display: flex;
                justify-content: center;
                .card {
                    flex-basis: 30%;
                }
            }
        }

        .card-wrap {
            .card {
                text-align: center;
                padding-left: $base-spacing;
                padding-right: $base-spacing;
                .card-content {
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    #innovation-in-architecture {
        padding-top: $base-spacing*4;
        padding-bottom: $base-spacing*4;
        text-align: center;
        color: white;
        background-repeat: no-repeat;
        background-size: cover;
        h3 {
            text-transform: uppercase;
            margin-bottom: $base-spacing;
            font-size: 32px;
            line-height: 1.4;
        }
        img {
            margin-bottom: $base-spacing*2;
        }
    }
    #innovation-in-architecture-showcase {
        padding-top: $base-spacing*4;
        padding-bottom: $base-spacing*4;
    }
    #book-now {
        padding-top: $base-spacing*4;
        padding-bottom: $base-spacing*4;
        text-align: center;
        background-size: cover;
        h3 {
            margin-bottom: $base-spacing*2;
            text-transform: uppercase;
            margin-bottom: $base-spacing;
            font-size: 32px;
            color: white;
            line-height: 1.4;
        }
        .button {
          text-transform: uppercase;
          padding: $base-spacing $base-spacing*2;
          letter-spacing: 1px;
          line-height: 1;
          .fa {
            font-size: 1.4rem;
            margin-left: 0.75rem;
          }
          &:hover {
            color: #ffffff;
          }
        }
    }
}
