#site-header {
    padding-top: $base-spacing*2;
    padding-bottom: $base-spacing*2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    width: 100%;
    z-index: 1982;
    text-align: center;
    background: linear-gradient(0, transparent, rgba(0, 0, 0, 0.75));
    /* Standard syntax */
    .home-link {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        padding: $small-spacing $base-spacing;
        //background-color: $action-color;
        color: $light-gray;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
    }
}