#{$all-buttons}, .button {
  text-transform: uppercase;
  // letter-spacing: 1px;
  // border: 1px solid $danger-color;
  // outline: none;
  padding: $small-spacing $base-spacing;
  font-weight: 400;
  &.button-light {
    //border: 1px solid white;
    background-color: white;
    color: $action-color;
  }
  // @include desktop {
  //   font-size: modular-scale(1);
  //   //@include padding($base-spacing $base-spacing*3);
  // }
}
