// .carousel {
//   overflow: hidden;
//   position: relative;
//
//   height: 70vh;
//
//   .item {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     opacity: 0;
//     transition: all $base-duration $base-timing;
//     &.active {
//       opacity: 1;
//     }
//   }
// }
