.text-action {
  color: $action-color;
}
.uppercase {
  text-transform: uppercase;
}
.view-on-mobile{
  display: block;
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}
.view-on-tablet{
  display: none;
  @include tablet {
    display: block;
  }
  @include desktop {
    display: block;
  }
}

.spacer_background {
  min-height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
  > li {
    display: inline-block;
    margin-right: $small-spacing;
  }
}
