.form-field {
  position: relative;
  label {
    position: absolute;
    top: $small-spacing;
    left: $small-spacing;
    transition: all $base-duration $base-timing;
    pointer-events: none;
    font-weight: 400;
    text-transform: uppercase;
    &.active {
      top: -$small-spacing;
      font-size: modular-scale(-1);
    }
  }
  margin-bottom: $base-spacing;
}
