// body.isMobile {
//   #site-menu {
//     position: fixed;
//     top: 0;
//     left: 100%;
//     right: 0;
//     bottom: 0;
//     background-color: rgba(0, 0, 0, 0.8);
//     transition: all $base-timing $base-duration;
//     z-index: 9005;
//   }
//
//   &.is-active {
//     #site-menu {
//       left: 0;
//
//       .nav {
//         height: 100%;
//         overflow: scroll;
//       }
//     }
//
//     #site-wrap {
//       height: 100%;
//       overflow: auto;
//     }
//   }
// }

nav {
  max-height: 0;
  overflow: hidden;
  transition: all $base-timing $base-duration;
  &.is-active {
    max-height: 100vh;
    border-top: $base-border;
  }
  @include desktop {
    max-height: 100vh;
  }
  .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      margin: 0;
      padding: 0;
      > a {
        display: block;
        @include padding($small-spacing $small-spacing);
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        outline: none;
        &.active {
          color: $action-color;
        }
      }
    }
  }
}
