.pagination {
    display: table;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    > li {
        display: table-cell;
        > .page-numbers {
            display: inline-block;
            text-decoration: none;
            @include padding($small-spacing/1.75 $small-spacing);
            
            border: $base-border;
            line-height: 1;
            margin: 0 $small-spacing/2;
            &.current {
              background-color: $action-color;
                color: $light-gray;
                border: 1px solid darken($action-color, 5%);
            }
        }
    }
}