$tab-content-background: transparent;
$tab-border: none;//$base-border;
$tab-background: lighten($light-gray, 10);
$tab-background-active: $action-color;

ul.tabs {
	margin: 0;
	padding: 0;

	list-style: none;
	width: 100%;
  //transform: translateY(1px);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $action-color;
  > li {
    flex-basis: 24%;
    text-align: center;
    @include padding($base-spacing $base-spacing*2);
    margin: 0;
  	cursor: pointer;
  	line-height: 1;
    border: $tab-border;
  	background-color: $tab-background;

  	overflow: hidden;
  	position: relative;

    font-weight: 600;
    text-transform: uppercase;

    &:hover {
      color: white;
      background-color: $tab-background-active;
    }
    &.active {
      color: white;
      background-color: $tab-background-active;
      border-top: $tab-border;
      border-right: $tab-border;
      border-bottom: 1px solid $tab-content-background;
    }
  }
}


.tab_container {
	clear: both;
	float: left;
	width: 100%;
	overflow: auto;
  border: $tab-border;
  background-color: $tab-content-background;
}

.tab_content {
	padding: $base-spacing 0;
	display: none;
}

.tab_drawer_heading { display: none; }

@media screen and (max-width: 480px) {
	.tabs {
		display: none!important;
	}
	.tab_drawer_heading {
		font-weight: 700;
		border-bottom: 1px solid $action-color;
		background-color: $light-gray;
		margin: 0;
		@include padding($small-spacing $base-spacing);
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.d_active {
		background-color:  $action-color;//darken($tab-content-background, 10);
		color: white;
	}
}
