@include font-face(
  "proxima-nova",
  "https://static.ballistixmail.com/tocico/microsite/dist/font/proxima-nova/proxima-nova-thin",
  ("eot","ttf","woff2", "woff")
) {
  font-style: normal;
  font-weight: 300;
}

@include font-face(
  "proxima-nova",
  "https://static.ballistixmail.com/tocico/microsite/dist/font/proxima-nova/proxima-nova-regular",
  ("eot","ttf","woff2", "woff")
) {
  font-style: normal;
  font-weight: 400;
}

@include font-face(
  "proxima-nova",
  "https://static.ballistixmail.com/tocico/microsite/dist/font/proxima-nova/proxima-nova-semibold",
  ("eot","ttf","woff2", "woff")
) {
  font-style: normal;
  font-weight: 600;
}

@include font-face(
  "proxima-nova",
  "https://static.ballistixmail.com/tocico/microsite/dist/font/proxima-nova/proxima-nova-bold",
  ("eot","ttf","woff2", "woff")
) {
  font-style: normal;
  font-weight: 700;
}
