.container {
  @include clearfix;
  padding-left: $base-spacing;
  padding-right: $base-spacing;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  .row {
    @include desktop {
      margin-left: -$base-spacing;
      margin-right: -$base-spacing;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      &:after {
        display: none;
      }

      > * {
        flex-basis: 50%;
        padding-left: $base-spacing;
        padding-right: $base-spacing;
      }
    }
  }
}

#site-content {
  section {
    @include clearfix;
    padding-top: $base-spacing*4;
    padding-bottom: $base-spacing*4;
    h3 {
      margin-bottom: $base-spacing*4;
      text-align: center;
      font-size: modular-scale(3);
      font-weight: 400;
    }

  }
  #hero {
    text-align: center;
    position: relative;
    z-index: 500;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    &:after {
      content: '';
      position: absolute;
      z-index: 1000;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url('../img/hero_shade.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
    * {
      position: relative;
      z-index: 1050;
    }
    .brand {
      margin-bottom: $base-spacing*2;
    }
    p {
      font-size: modular-scale(3);
      line-height: 1.2;
      color: white;
      text-transform: uppercase;
      margin-bottom: $base-spacing*2;
      font-weight: 400;
    }
  }
  #verbiage {
    .row  {
      align-items: center;
      justify-content: space-around;
      .col {
        flex-basis: 40%;
      }
    }
    p {
      //font-size: modular-scale(1);
    }
  }
  #at_a_glance {
    background-color: $dark-gray;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    h3 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: $base-spacing*2;
      img {
        margin-right: $base-spacing;
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 680px;
      margin: 0 auto;
      > li {
        flex-basis: 26%;
        text-align: center;
        margin: $base-spacing;
      }
    }
  }
  #imagine_the_possibilities{
    background-color: $light-gray;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      > li {
        margin-bottom: $base-spacing;
        text-align: center;
      }
    }
  }
  #inspirational_space{
    h3 {
      //margin-bottom: $base-spacing*2;
    }
    h4 {
      font-size: modular-scale(3);
      font-weight: 400;
    }
    h5 {
      text-transform: uppercase;
    }
    p {
      margin-bottom: $base-spacing;
    }
    .tab_content {
      @include desktop {
        display: flex;
        .col {
          flex-basis: 50%;
          margin-bottom: $base-spacing;
        }
      }
    }
  }
  #action {
    text-align: center;
    background-color: $light-gray;
    h3 {
      text-transform: uppercase;
      margin-bottom: $base-spacing*2;
    }
  }
  #form {
    background-color: $dark-gray;
    color: white;
    text-align: center;
    h3 {
      margin-bottom: $base-spacing*2;
    }
    p {
      margin-bottom: $base-spacing*2;
    }
    // form {
    //   max-width: 58rem;
    //   margin: 0 auto;
    //   display: flex;
    //   flex-wrap: wrap;
    //   justify-content: space-between;
    //   // margin-left: -$small-spacing;
    //   // margin-right: -$small-spacing;
    //   .form-field {
    //     flex-basis: 50%;
    //     padding-left: $small-spacing;
    //     padding-right: $small-spacing;
    //     input, select {
    //       color: white;
    //     }
    //   }
    // }
  }
}
