#site-footer {
  padding-top: $base-spacing;
  padding-bottom: $base-spacing;
  background-color: #231f20;
  .row {
    align-items: center;
  }
  .brand {
    margin-bottom: $base-spacing;
  }
  .colophon {
    text-transform: uppercase;
    text-align: center;
    color: $medium-gray;
    letter-spacing: px;
  }
  @include desktop {
    .colophon {
      text-align: right;
    }
  }
}
