.container {
	@include grid-container;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
.row {
	@include grid-collapse;
	@include clearfix;
}
// ------------------------------------------------------------
// Omega Reset
// ------------------------------------------------------------

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: 0; }
  &:nth-child(#{$nth}+1) { clear: none }
}