.button {
	text-transform: uppercase;
	letter-spacing: 1px;
	white-space: normal;
	@include grid-media($large-screen) {
		padding: 1.25em 4em;
	}
	&:after {
        font-family: 'FontAwesome';
        content: '\f054';
        margin-left: 1em;
    }
	&:hover {
		color: $light-gray;
	}
}
.button-outline-action {
	background-color: transparent;
	border: 2px solid $action-color;
	color: $action-color;
	&:hover {
		color: $light-gray;
	}
}

.button-light {
	background-color: white;
	color: $action-color;
	&:hover {
		color: $light-gray;
	}
}
