body.landscape {
	position: relative;
	overflow: hidden;
	&:after {
		display: flex;
		align-items: center;
		justify-content: center;
		content: 'This page is best viewed in portrait mode';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1982;
		background-color: rgba(0,0,0,0.85);
		color: white;
	}
}