// Typography
$base-font-family: 'Open Sans', sans-serif;
$heading-font-family: $base-font-family;

$base-font-size: 18px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0;
$base-spacing: 1.5rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$dark-gray: #303030;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: #D6002D;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 250ms;
$base-timing: ease;

$article-layout-grid: (
  columns: 1,
  gutter: 15px,
);

$neat-grid: (
  columns: 12,
  gutter: 30px,
);

$medium-screen: (
  columns: 12,
  gutter: 30px,
  media: "(min-width: 768px)",
);
$large-screen: (
  columns: 12,
  gutter: 90px,
  media: "(min-width: 1200px)",
);
